<mat-card>
    <mat-card-title style="padding: 1rem;">
        <mat-icon>
            settings
        </mat-icon>
        Mantenimiento de datos maestros
    </mat-card-title>

    <mat-card-content>
        <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Categorias">
                <app-categories></app-categories>
            </mat-tab>

            <mat-tab label="Marcas">
                <app-brands></app-brands>
            </mat-tab>

            <mat-tab label="Medios de pago">
                Content 3
            </mat-tab>

            <mat-tab label="Unidades de medida">
                <app-measurement-units></app-measurement-units>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>
