table {
    width: 90%;
    height: 90%;
}


.example-first-header-row th {
    border-bottom: none;
    font-weight: bold;
}

.example-second-header-row {
    font-style: italic;
}

.example-first-footer-row {
    font-weight: bold;
}

.example-second-footer-row td {
    font-style: italic;
}

.button_right{
    margin-right: 10px;
    margin-top: 10px;
}

.start-end-form {
    min-width: 150px;
    max-width: 500px;
    width: 70%;
  }
  
.start-end-full-width {
width: 100%;
}
  