<mat-card>
    <button mat-mini-fab color="primary" (click)="reload()" matTooltip="Refrescar">
        <mat-icon>autorenew</mat-icon>
    </button>
    <button mat-mini-fab color="accent" (click)="generatePurchaseOrders()" matTooltip="Generar ordenes de compra">
        <mat-icon>receipt</mat-icon>
    </button>
    <table mat-table [dataSource]="dataSource" class="full-width-table">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Orden de Compra </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
      
        <ng-container matColumnDef="sku">
            <th mat-header-cell *matHeaderCellDef> SKU </th>
            <td mat-cell *matCellDef="let row"> {{row.sku}} </td>
        </ng-container>
          
        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> Cantidad</th>
            <td mat-cell *matCellDef="let row"> {{row.amount}} </td>
        </ng-container>
          
        <ng-container matColumnDef="supplier">
            <th mat-header-cell *matHeaderCellDef> Contacto </th>
            <td mat-cell *matCellDef="let row"> {{row.supplier}} </td>
        </ng-container>
          
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let row">
                <mat-icon *ngIf="row.status == 'PENDING'" matTooltip="Pendiente" style="color: orange">schedule</mat-icon>
                <mat-icon *ngIf="row.status == 'ACCEPTED'" matTooltip="Remito recibido">local_shipping</mat-icon>
                <mat-icon *ngIf="row.status == 'CONFIRMED'" matTooltip="Confirmado" style="color: green">check</mat-icon>
                <mat-icon *ngIf="row.status == 'REJECTED'" matTooltip="Rechazado" style="color: red">close</mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</mat-card>
<div *ngIf="fetching" class="center-fixed">
    <mat-spinner></mat-spinner>
</div>
