/* 
  .mat-column-items_detail, mat-select, mat-option {
    text-align: left;
    justify-content: flex-start;
    padding-left: 25px;
  } */

tr.example-detail-row {
    height: 0;
}
  
tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}