table {
    width: 90%;
    margin: auto;
}

.div-report{
    padding:10px;
}

.buttom-print{
    text-align: right;
    margin-bottom: 10px;
}


mat-card-title{
    font-size: medium;
    margin:auto;
    padding-bottom:10px;
}

tr.mat-footer-row, th.mat-header-cell  {
    font-weight: bold; font-size: small;
  }


  .mat-column-monto {
    text-align: right;
    justify-content: flex-end;
    padding-right: 25px;
  }


  mat-footer-cell{
    font-size: large;
  }

  .chart {
    margin-left: 25px;
    padding: 15px;
    display: block;
    width: 852px;
    height: 426px;

}
