table {
    width: 90%;
    margin: auto;
}

.div-report{
    padding:10px;
}

.buttom-print{
    text-align: right;
    margin-bottom: 10px;
}


mat-card-title{
    font-size: medium;
    margin:auto;
    padding-bottom:10px;
}

/* .container {
    height: 400px;
    overflow: auto;
} */

tr.mat-footer-row, th.mat-header-cell  {
    font-weight: bold; font-size: small;
  }
  
