<table  mat-table [dataSource]="incomes" multiTemplateDataRows class="mat-elevation-z8" matSort aria-label="Elements">

	<ng-container  matColumnDef="client">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
		<td mat-cell *matCellDef="let row" > {{row.client?.first_name}} {{row.client?.last_name}} </td>
		<mat-error>Cajero</mat-error>
	</ng-container>

	<ng-container matColumnDef="paymentMethods">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>Medios de pago</th>
		<td mat-cell *matCellDef="let row"> 
			<div *ngFor="let item of row.payments; let i = index"> {{findPaymentMethodDescription(item.method.id)}}</div> 
		</td>  
	</ng-container> 

	<ng-container matColumnDef="amount">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>Monto</th>
		<td mat-cell *matCellDef="let row"> $ {{row.amount | number : '1.2-2'}}</td>
	</ng-container>

	<ng-container matColumnDef="source">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>Origen</th>
		<td mat-cell *matCellDef="let row">{{row.source_description}}</td>
	</ng-container>
  
	<ng-container matColumnDef="description">
	  <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripcion</th>
	  <td mat-cell *matCellDef="let row">{{row.detail}} {{row.transaction_id}}</td>
	</ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pagar</th>
        <td mat-cell *matCellDef="let row">
			<button mat-mini-fab color="primary"  (click)="addPaymentMethod(row)" >
				<mat-icon>attach_money</mat-icon>
			</button>
		</td>
    </ng-container>

	<ng-container matColumnDef="expandedDetail">
		<td mat-cell *matCellDef="let row" [attr.colspan]="columns.length">
			<div class="incomes-element-detail" [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'">

				<div class="incomes-element-diagram">
					<strong>Detalle del movimiento:</strong>
					<div class="incomes-element-name"> &nbsp;&nbsp;Fecha: {{row.datetime}} </div>
					<div class="incomes-element-name"> &nbsp;&nbsp;Vendedor: {{row.salesman_id}} </div>
					<div class="incomes-element-name"> &nbsp;&nbsp;Cliente: {{row.client?.document_number}}  Email: {{row.client?.email}}</div>
					
				</div>
				<div class="incomes-element-diagram">
					<strong>Metodos de Pago:</strong>
					<div  class="incomes-element-name" *ngFor="let item of row.payments; let i = index" [attr.data-index]="i">&nbsp;&nbsp;
						{{findPaymentMethodDescription(item.method.id)}}&nbsp;{{findCardName(item.card_id)}}: ${{item.sub_total}} 
					</div>
				</div>
	   		</div>
		</td>
	</ng-container>
	

	<tr mat-header-row *matHeaderRowDef=columns></tr>
	<tr mat-row *matRowDef="let row; columns: columns;"
		class="incomes-element-row"
      	[class.incomes-expanded-row]="expandedElement === row"
      	(click)="expandedElement = expandedElement === row ? null : row">
  	</tr>
  	<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="incomes-detail-row"></tr>
</table>

<mat-paginator #paginator
	  [length]="incomes?.data?.length"
	  [pageIndex]="0"
	  [pageSize]="10"
	  [pageSizeOptions]="[5, 10, 15, 20]">
</mat-paginator>
