table {
    width: 100%;
  }
  
  tr.incomes-detail-row {
    height: 0;
  }
  
  tr.incomes-element-row:not(.incomes-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.incomes-element-row:not(.incomes-expanded-row):active {
    background: whitesmoke;
  }
  
  .incomes-element-row td {
    border-bottom-width: 0;
  }
  
  .incomes-element-detail {
    overflow: hidden;
    display: flex;
    background: #eaf1f7 ;
  }
  
  .incomes-element-diagram {
    min-width: 30%;
    /* border: 2px solid black; */
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  .mat-icon {
    width: 40px;
    height: 40px;
  
  }