<div class="center">
  <mat-card>
    <mat-card-header>
      <h2 mat-header>
        Iniciar sesión
      </h2>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm">
          <mat-form-field>
            <mat-label>Usuario</mat-label>
            <input matInput type="email" [formControl]="username" placeholder="email@gmail.com"/>
            <span matPrefix>
              <mat-icon>account_circle</mat-icon>
              &nbsp;
              &nbsp;
            </span>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" [formControl]="password"/>
            <span matPrefix>
              <mat-icon>lock</mat-icon>
              &nbsp;
              &nbsp;
            </span>
          </mat-form-field>
          
          <button mat-raised-button color="primary" (click)="submitLogin()"> Ingresar</button>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button>Olvido su contraseña?</a>
    </mat-card-actions>
  </mat-card>
</div>
