<mat-card>
    <mat-card-content>
        <div>
            <mat-form-field>
                <mat-label>Filtrar</mat-label>
                <input matInput (keyup)="applyFilter($event)" #filtro>
            </mat-form-field>

            <button mat-mini-fab color="primary" (click)="add()">
                <mat-icon>
                    add
                </mat-icon>
            </button>
        </div>
        <table mat-table [dataSource]="categoriesDatasource">
          
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let category">

                <span *ngIf="!category.editing">{{category.name}}</span>

                <mat-form-field *ngIf="category.editing" style="padding: 0%;">
                  <input matInput [formControl]="nameControl" placeholder="{{category.name}}">
                </mat-form-field>

              </td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Descripcion </th>
              <td mat-cell *matCellDef="let category">

                <span *ngIf="!category.editing">{{category.description}}</span>

                <mat-form-field *ngIf="category.editing" style="padding: 0%;">
                  <input matInput [formControl]="descriptionControl" placeholder="{{category.description}}">
                </mat-form-field>
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Acciones </th>
              <td mat-cell *matCellDef="let category">

                <button mat-mini-fab color="warn" (click)="delete(category)">
                    <mat-icon>delete</mat-icon>
                </button>

                <button *ngIf="!category.editing" mat-mini-fab color="primary" (click)="toggleEdit(category)">
                    <mat-icon>edit</mat-icon>
                </button>

                <button *ngIf="category.editing" mat-mini-fab color="primary" (click)="toggleEdit(category);saveChanges(category)">
                  <mat-icon>save</mat-icon>
                </button>
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let category; columns: displayedColumns;"></tr>
          </table>
          
    </mat-card-content>
</mat-card>
