<!-- <h3 mat-header>Agregar o Editar Medios de Pago</h3> -->
<h2 mat-dialog-title>Agregar o Editar Medios de Pago</h2> 
<h3>Total: {{ data.total | localCurrency }}</h3> 
<h3>Cliente: {{ data.client.document_number + " - " +data.client.first_name + " " + data.client.last_name }} </h3>
<h3>Falta: {{ totalCost - calculateCurrentSubtotal() | localCurrency}}</h3>
<h3>Limite de Credito: {{ clientCheckingAccount.balance }}</h3>
<mat-dialog-content class="mat-typography">
<form [formGroup]="paymentForm">
    <ng-template matStepLabel>Medios de pago</ng-template>

    <mat-form-field>
        <mat-label>Medio de pago</mat-label>
        <mat-select [formControl]="paymentMethodControl" (selectionChange)="selectPaymentMethod($event)" required>
            <mat-option *ngFor="let paymentMethod of paymentMethods" [value]="paymentMethod.id"> {{ paymentMethod.description }} </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Monto</mat-label>
        <input matInput type="number" [formControl]="amountControl" (change)="validatePaymentAmount()" required>
        <span matPrefix>$&nbsp;</span>
        <mat-error *ngIf="amountControl.invalid"> {{ getPaymentAmountErrors() }} </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="isCardPaymentMethod()">
        <mat-label>Tipo</mat-label>
        <mat-select [formControl]="cardControl" (selectionChange)="selectCard($event)" >
            <mat-option *ngFor="let card of cards" [value]="card.id"> {{ card.name }} </mat-option>
        </mat-select>
        <mat-error *ngIf="cardControl.invalid">Seleccione el tipo</mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="isCardPaymentMethod()">
      <mat-label>Ultimos 4 digitos</mat-label>
      <input matInput type="number" minlength="4" maxlength="4" [formControl]="lastDigitsControl">
      <mat-error *ngIf="lastDigitsControl.invalid">Requerido</mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="isMercadoPagoPaymentMethod()">
      <mat-label>Email</mat-label>
      <input matInput type="email" [formControl]="emailControl">
      <mat-error *ngIf="emailControl.invalid">Requerido</mat-error>
    </mat-form-field>

    <button mat-mini-fab color="primary" (click)="add()">
        <mat-icon>add</mat-icon>
    </button>
</form>


<table mat-table [dataSource]="paymentMethodDataSource">
    <tr mat-header-row *matHeaderRowDef="paymentMethodColumns"></tr>
    <tr mat-row *matRowDef="let paymentMethods; columns: paymentMethodColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="paymentMethodColumns"></tr>

    <ng-container matColumnDef="method">
        <th mat-header-cell *matHeaderCellDef>Metodo de Pago</th>
        <td mat-cell *matCellDef="let payment"> <div *ngIf="payment.method.description; else elseBlockMethod">{{payment.method.description }} </div>
        <ng-template #elseBlockMethod>{{findPaymentMethodDescription(payment.method.id)}}</ng-template></td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Monto</th>
        <td mat-cell *matCellDef="let payment"> {{payment.sub_total | localCurrency}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
  
    <ng-container matColumnDef="type" >
        <th mat-header-cell *matHeaderCellDef>Tipo</th>
        <td mat-cell *matCellDef="let payment"> <div *ngIf="payment.card_name; else elseBlockCard"> {{payment.card_name}} </div>    
        <ng-template #elseBlockCard>{{findCardName(payment.card_id)}}</ng-template></td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="lastDigits">
        <th mat-header-cell *matHeaderCellDef>Ultimos 4 Digitos</th>
        <td mat-cell *matCellDef="let payment"> {{payment.last_digits}} </td>
        <td mat-footer-cell *matFooterCellDef>Sub total</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let payment"> {{payment.email}} </td>
      <td mat-footer-cell *matFooterCellDef> {{ calculateCurrentSubtotal() | localCurrency }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let payment"> 
            <button mat-mini-fab color="warn" (click)="delete(payment)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

</table>
</mat-dialog-content>
<button mat-raised-button color="error" (click)="close()">Cancelar</button>
<button mat-raised-button color="primary" (click)="checkout()">Confirmar</button>