<h2 mat-header>Nueva marca</h2>
<mat-card>
    <mat-card-content>
        <form [formGroup]="brandForm">

            <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input matInput type="text" [formControl]="nameControl" required>
            </mat-form-field>

        </form>
        <button mat-raised-button color="primary" (click)="create()">Crear</button>
        <button mat-raised-button color="warn" (click)="close()">Cancelar</button>
    </mat-card-content>
</mat-card>
