<div class="mat-elevation-z8">
  <mat-card>
    <mat-card-title>
      <mat-icon>view_in_ar</mat-icon>
      <span>&nbsp;Stock</span>
    </mat-card-title>

    <mat-card-content>

      <mat-tab-group>

        <mat-tab label="Stock Disponible">
          <table  mat-table [dataSource]="dataSource"  class="full-width-table" matSort aria-label="Elements">

            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
              <td mat-cell *matCellDef="let row">{{row.id}}</td>
            </ng-container>


            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripcion</th>
              <td mat-cell *matCellDef="let row">{{row.descripcion}}</td>
            </ng-container>

            <ng-container matColumnDef="cantidad">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
              <td mat-cell *matCellDef="let row">{{row.cantidad}}</td>
            </ng-container>

            <!-- No aparece el boton para eliminar -->
            <ng-container matColumnDef="">
              <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
              <td mat-cell *matCellDef="let row">
                <button mat-mini-fab color="warn" style="float: right;">
                  <mat-icon>delete</mat-icon>
              </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator #paginator
              [length]="dataSource?.data?.length"
              [pageIndex]="0"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 20]">
          </mat-paginator>

        <button mat-raised-button color="primary">Aumento de Stock</button>
        <button mat-raised-button color="primary">Decremento de Stock</button>
        </mat-tab>

        <mat-tab label="Maestro De Items">
          <app-item-master></app-item-master>
        </mat-tab>

      </mat-tab-group>

    </mat-card-content>
</mat-card>
</div>


