html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

button.mat-error {
    display: inline-flex;
    margin: 5px;
}

button.mat-primary {
    display: inline-flex;
    margin: 5px;
}

.mat-form-field {
    padding: 0.5rem;
}

.mat-mini-fab {
    justify-content: center;
}