<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <app-nav-bar></app-nav-bar>
  </mat-drawer>

  <div class="sidenav-content">
    <div>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Hefesto</span>
        <span class="example-spacer"></span>
        <span>Sucursal</span>
        <mat-select style="width: 8rem; padding-left: 1rem;">
          <mat-option *ngFor="let branch of branches" value="branch.id"> {{branch.name}} </mat-option>
        </mat-select>
      </mat-toolbar>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
