<mat-card>
  <mat-card-content>
      <div>
          <mat-form-field>
              <mat-label>Filtrar</mat-label>
              <input matInput (keyup)="applyFilter($event)" #filtro>
          </mat-form-field>

          <button mat-mini-fab color="primary" (click)="add()">
              <mat-icon>
                  add
              </mat-icon>
          </button>
      </div>
      <table mat-table [dataSource]="measurementUnitsDatasource">

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let units">

              <span *ngIf="!units.editing">{{units.name}}</span>

              <mat-form-field *ngIf="units.editing" style="padding: 0%;">
                <input matInput [formControl]="nameControl" placeholder="{{units.name}}">
              </mat-form-field>

            </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Descripcion </th>
            <td mat-cell *matCellDef="let units">

              <span *ngIf="!units.editing">{{units.description}}</span>

              <mat-form-field *ngIf="units.editing" style="padding: 0%;">
                <input matInput [formControl]="descriptionControl" placeholder="{{units.description}}">
              </mat-form-field>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let unit">

              <button mat-mini-fab color="warn" (click)="delete(unit)">
                  <mat-icon>delete</mat-icon>
              </button>

              <button *ngIf="!unit.editing" mat-mini-fab color="primary" (click)="toggleEdit(unit)">
                  <mat-icon>edit</mat-icon>
              </button>

              <button *ngIf="unit.editing" mat-mini-fab color="primary" (click)="toggleEdit(unit);saveChanges(unit)">
                <mat-icon>save</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let category; columns: displayedColumns;"></tr>
        </table>

  </mat-card-content>
</mat-card>
